COMPOSE_PROJECT_NAME=mindgarden
DB_NAME=mindgarden_db
DB_USER=mindgarden_user
DB_PASSWORD=mindgarden_pwd
DB_ADMIN_PASSWORD=mindgarden_admin_pwd
JWT_SECRET=change_me_to_a_long_random_string
FRONTEND_PORT=18413
BACKEND_PORT=19413
DB_PORT=5432

